server:
  port: 8080

spring:
  application:
    name: main
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/wallet
    username: wallet
    password: wallet

  liquibase:
    change-log: classpath:/liquibase/changelog.yaml

logging.level.org:
  springframework:
    orm:
      jpa: INFO
    transaction: INFO
    transaction.interceptor: TRACE
    orm.jpa.JpaTransactionManager: DEBUG
  hibernate:
    SQL: DEBUG
    type: TRACE
    orm.jdbc.bind: TRACE